<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume</h1>

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6 resume-left">

      <!-- .title_content -->
      <div class="title_content" style="margin-bottom:5px">
          <div class="text_content">Work Experience</div>
          <div class="clear"></div>
      </div>
      <!-- /.title_content -->
      <!-- .attributes -->
      <ul class="attributes">
          <li class="first">
              <h5>Young Professional</h5>
              <h6><span class="fa fa-briefcase"></span> <a href="https://www.giz.de/en/worldwide/17887.html">GIZ Support to the Health Sector Programme</a></h6>
              <h6><span class="fa  fa-map-marker"></span> Kathmandu, Nepal <span class="duration"><i class="fa fa-calendar color"></i> 07.2015 - 03.2016</span></h6>
              <p>I worked in the Maternal, Reproductive and Child Health division. My main tasks included supporting the organisation and planning of Nepal's first national conference on Adolescent Health and Development <a href="http://myhealthrightsfuture.com/">my Health. my Rights. our Future</a>, with the Nepalese Ministrz of Health and Population.</p>
              <br>
              <p> I was also responsible for the research on MHM, which led to the development and implementation of a <a href="http://health.bmz.de/events/In_focus/The_monthly_exile/index.html">pilot project</a> in earthquake affected districts in Nepal - a socially inclusive business helping women produce menstrual hygiene products for sale.</p>
          </li>
          <li>
              <h5>Head of Library and Information</h5>
              <h6><span class="fa fa-briefcase"></span> Goethe-Institut</h6>
              <h6><span class="fa  fa-map-marker"></span> Chennai, India <span class="duration"><i class="fa fa-calendar color"></i> 07.2012 - 08.2014</span></h6>
              <p>I supevised the management and administration of the department and its resources. I was also responsible for planning literary projects, expanding collaborations with partners and presenting literary programmes and events.  </p>
          </li>
          <li>
              <h5>Assistant, Cultural Programmes</h5>
              <h6><span class="fa fa-briefcase"></span> Goethe-Institut</h6>
              <h6><span class="fa  fa-map-marker"></span> Chennai, India <span class="duration"><i class="fa fa-calendar color"></i> 07.2011 - 06.2012</span></h6>
              <p>I assisted in the implementation of all projects under programme <a href="http://www.germany-and-india.com/">Germany and India 2011-2012</a>, the diplomatic year of Germay in India.</p>
          </li>
      </ul>
      <!-- /.attributes -->
      <br>
      <!-- .title_content -->
    <div class="title_content">
        <div class="text_content">Internships</div>
        <div class="clear"></div>
    </div>
    <!-- /.title_content -->

    <!-- .attributes -->
    <ul class="attributes">
      <li  class="first">
          <h5>Research Intern</h5>
          <h6><span class="fa fa-briefcase"></span> Endeva</h6>
          <h6><span class="fa  fa-map-marker"></span> Berlin, Germany <span class="duration"><i class="fa fa-calendar color"></i> 01.2017 - 03.2017</span></h6>
          <p>I supported in the creation of a database on inclusive buisness models in the Water Sanitation and Hygiene (WASH) sector and presented a sector analysis. I also supported the creation of replicator workbooks in the field of irrigation, agri-tech and clean cookstoves for the <a href="https://www.seed.uno/sag/">SEED</a> project.</p>
      </li>
      <li>
          <h5>Research Intern </h5>
          <h6><span class="fa fa-briefcase"> </span> <a href="https://www.giz.de/expertise/html/11139.html">Deutsche Gesellschaft für Internationale Zusammenarbeit (GIZ)</a></h6>
          <h6><span class="fa  fa-map-marker"></span> Eschborn, Germany <span class="duration"><i class="fa fa-calendar color"></i> 04.2016 - 08.2016</span></h6>
          <p>I supported the activities of the GIZ programme on Water and Sanitation, particularly the Secretariat of the <a href="http://www.susana.org/en/">Sustainable Sanitation Alliance</a>. My research centered mainly on Water, Sanitation and Hygine (WASH) in Schools and Menstrual Hygiene Management(MHM).</p>
      </li>
    </ul>
        <!-- .title_content -->
    </div>
     <!-- /.resume-right -->

     <!-- .resume-left -->
    <div class="col-md-6 resume-left">
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Master of Public Policy</h5>
                <h6><span class="fa fa-book"></span> <a href="https://www.hertie-school.org/en/">Hertie School of Governance</a></h6>
                <h6><span class="fa  fa-map-marker"></span> Berlin, Germany <span class="duration"><i class="fa fa-calendar color"></i> 2014 - 2017</span></h6>
                <p>Academic Concentration: Policy Analysis, Sustainable Development and Health Policy</p> <br>
                <p>Thesis: <i>Can social innovation solve women's health issues in South Asia? A case study of improving menstrual hygiene in Semjong, Nepal</i>, written in partnership with GIZ Nepal Support to the Health Sector Programme</p>
            </li>
            <li class="first">
                <h5>Master of Arts in International Studies</h5>
                <h6><span class="fa fa-book"></span> <a href="http://stellamariscollege.org/">Stella Maris College</a>, <a href="http://www.unom.ac.in/">University of Madras</a></h6>
                <h6><span class="fa  fa-map-marker"></span> Chennai, India <span class="duration"><i class="fa fa-calendar color"></i> 2009 - 2011</span></h6>
                <p>Academic Concentration: International Law, International Relations and Human Rights</p>
            </li>
            <li>
                <h5>Bachelor of Commerce</h5>
                <h6><span class="fa fa-book"></span> <a href="http://mopvc.edu.in/">M.O.P. Vaishnav College for Women</a>, <a href="http://www.unom.ac.in/">University of Madras</a></h6>
                <h6><span class="fa  fa-map-marker"></span> Chennai, India <span class="duration"><i class="fa fa-calendar color"></i> 2005 - 2008</span></h6>
                <p>Academic Concentration: Accounts, Finance and Corporate Law</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>

      <!-- .title_content -->
      <div class="title_content" style="float: none;">
          <div class="text_content">My Resume</div>
          <div class="clear"></div>
      </div>
      <!-- /.title_content -->

      <!-- .download_resume -->
      <a class="download" style="margin:0;float: left;" href="assets/shrutha-sivakumar-cv.pdf">
          <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
      </a>
      <!-- /.download_resume -->
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>

<div class="reference clearfix">
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Skills</div>
            <div class="clear"></div>
        </div>
</div>

<div class="row">
   <!-- .resume-right -->
    <div class="col-md-6 resume-left">
      <div class="title_content" style="float: none;">
          <div class="text_content">Language Skills</div>
          <div class="clear"></div>
      </div>
      <!-- /.title_content -->

      <div class="skills">
          <!-- .skillbar -->
          <div class="skillbar clearfix" data-percent="100%">
              <div class="skillbar-title"><span>English</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent">100%</div>
          </div>
          <!-- /.skillbar -->

          <!-- .skillbar -->
          <div class="skillbar clearfix " data-percent="90%">
              <div class="skillbar-title"><span>Tamil</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent">90%</div>
          </div>
          <!-- /.skillbar -->

          <!-- .skillbar -->
          <div class="skillbar clearfix " data-percent="85%">
              <div class="skillbar-title"><span>Telugu</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent">85%</div>
          </div>
          <!-- /.skillbar -->

          <!-- .skillbar -->
          <div class="skillbar clearfix " data-percent="75%">
              <div class="skillbar-title"><span>German</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent">75%</div>
          </div>
          <!-- /.skillbar -->

          <!-- .skillbar -->
          <div class="skillbar clearfix " data-percent="70%">
              <div class="skillbar-title"><span>Hindi</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent">70%</div>
          </div>
          <!-- /.skillbar -->

          <!-- .skillbar -->
          <div class="skillbar clearfix " data-percent="15%">
              <div class="skillbar-title"><span>Spanish</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent">15%</div>
          </div>
          <!-- /.skillbar -->
      </div>

      <div class="title_content" style="float: none;">
          <div class="text_content">Data Analysis &amp Visualisation</div>
          <div class="clear"></div>
      </div>
      <!-- /.title_content -->

      <!-- .skillbar -->
      <div class="skillbar clearfix" data-percent="50%">
          <div class="skillbar-title"><span>Stata</span></div>
          <div class="skillbar-bar"></div>
          <div class="skill-bar-percent">50%</div>
      </div>
      <!-- /.skillbar -->

      <div class="skills">
          <!-- .skillbar -->
          <div class="skillbar clearfix" data-percent="25%">
              <div class="skillbar-title"><span>Tableau</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent">25%</div>
          </div>
          <!-- /.skillbar -->

          <!-- .skillbar -->
          <div class="skillbar clearfix" data-percent="20%">
              <div class="skillbar-title"><span>R</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent">20%</div>
          </div>
          <!-- /.skillbar -->
        </div>
    </div>

    <div class="col-md-6 resume-left">
      <!-- .title_content -->
      <div class="title_content" style="float: none;">
          <div class="text_content">MS Office Skills</div>
          <div class="clear"></div>
      </div>
      <!-- /.title_content -->

      <div class="skills">
        <!-- .skillbar -->
        <div class="skillbar clearfix " data-percent="100%">
            <div class="skillbar-title"><span>MS Word</span></div>
            <div class="skillbar-bar"></div>
            <div class="skill-bar-percent">100%</div>
        </div>
        <!-- /.skillbar -->

        <!-- .skillbar -->
        <div class="skillbar clearfix " data-percent="90%">
            <div class="skillbar-title"><span>Powerpoint</span></div>
            <div class="skillbar-bar"></div>
            <div class="skill-bar-percent">90%</div>
        </div>
        <!-- /.skillbar -->

          <!-- .skillbar -->
          <div class="skillbar clearfix" data-percent="85%">
              <div class="skillbar-title"><span>MS Excel</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent">85%</div>
          </div>
          <!-- /.skillbar -->

          <!-- .skillbar -->
          <div class="skillbar clearfix " data-percent="70%">
              <div class="skillbar-title"><span>Publisher</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent">70%</div>
          </div>
          <!-- /.skillbar -->

          <!-- .skillbar -->
          <div class="skillbar clearfix " data-percent="50%">
              <div class="skillbar-title"><span>Project</span></div>
              <div class="skillbar-bar"></div>
              <div class="skill-bar-percent">50%</div>
          </div>
          <!-- /.skillbar -->
  </div>

  <!-- .title_content -->
  <div class="title_content" style="float: none;">
      <div class="text_content">Web Development</div>
      <div class="clear"></div>
  </div>
  <!-- /.title_content -->

  <div class="skills">
    <!-- .skillbar -->
    <div class="skillbar clearfix" data-percent="80%">
        <div class="skillbar-title"><span>Social Media for Organsiations</span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">80%</div>
    </div>
    <!-- /.skillbar -->

    <!-- .skillbar -->
    <div class="skillbar clearfix" data-percent="75%">
        <div class="skillbar-title"><span>Joomla</span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">75%</div>
    </div>
    <!-- /.skillbar -->

     <!-- .skillbar -->
    <div class="skillbar clearfix" data-percent="70%">
        <div class="skillbar-title"><span>HTML </span></div>
        <div class="skillbar-bar"></div>
        <div class="skill-bar-percent">70%</div>
    </div>
    <!-- /.skillbar -->

      <!-- .skillbar -->
      <div class="skillbar clearfix" data-percent="70%">
          <div class="skillbar-title"><span>Wordpress</span></div>
          <div class="skillbar-bar"></div>
          <div class="skill-bar-percent">70%</div>
      </div>
      <!-- /.skillbar -->

      <!-- .skillbar -->
      <div class="skillbar clearfix" data-percent="25%">
          <div class="skillbar-title"><span>Django</span></div>
          <div class="skillbar-bar"></div>
          <div class="skill-bar-percent">25%</div>
      </div>
      <!-- /.skillbar -->
    </div>
    </div>
</div>

<!-- client reference -->
<!-- <div class="row">
<div class="col-md-12">

<div class="reference clearfix">
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Client reference</div>
            <div class="clear"></div>
        </div>
        <ul>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“Many desktop publishing packages and web page editors now use Lorem Ipsum as their default will model text, and a search for 'lorem ipsum' hope is uncover many web sites still”</p>
                <span>John Doe, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“very nice colleague she always helped me out if i didnt know something editors now use Lorem Ipsum as their default”</p>
                <span>Leia Calvi, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“old colleague and now close friend, she is really sweet and helpfull packages and web page editors now use Lorem Ipsum as their default will model text”</p>
                <span>Maria Callas, UX Designer</span>
            </li>
        </ul>
</div>
</div>


<div style="clear: both"></div>
</div>  -->

</div>
<!-- End .resume -->
