<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">

        <!--About me-->
        <div class="title_content">
            <div class="text_content">shrutha sivakumar</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Shrutha Sivakumar</span>
                <div class="clear"></div>
            </li>

            <!-- <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">March 18, 1988</span>
                <div class="clear"></div>
            </li> -->

            <li>
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value">Berlin, Germany</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">shrutha.sivakumar@gmail.com</span>
                <div class="clear"></div>
            </li>

            <!-- <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">+123 (21) 1234-5678</span>
                <div class="clear"></div>
            </li> -->

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">sc.chinaz.com</a></span>
                <div class="clear"></div>
            </li>

        </ul>

    </div>
    <!-- End left-wrap -->
    <!-- TODO: Images -->
    <!-- <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
        </div>

    </div> -->

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">Core Competencies</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tasks"></i></div>
                <div class="service-detail">
                    <h6>Project Management</h6>
                    <!-- <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p> -->
                </div>
            </div>
        </div>

        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-bullhorn"></i></div>
                <div class="service-detail">
                    <h6>Communications</h6>
                    <!-- <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p> -->
                </div>
            </div>
        </div>

        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-area-chart"></i></div>
                <div class="service-detail">
                    <h6>Policy Analysis</h6>
                    <!-- <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p> -->
                </div>
            </div>
        </div>

        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-medkit"></i></div>
                <div class="service-detail">
                    <h6>Global Health</h6>
                    <!-- <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p> -->
                </div>
            </div>
        </div>

        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-venus-mars"></i></div>
                <div class="service-detail">
                    <h6>Gender</h6>
                    <!-- <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p> -->
                </div>
            </div>
        </div>

        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-globe"></i></div>
                <div class="service-detail">
                    <h6>Climate Change</h6>
                    <!-- <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p> -->
                </div>
            </div>
        </div>

     </div>
</div><!-- End Services -->



<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <!-- <div class="title_content">
            <div class="text_content">My Services 2</div>
            <div class="clear"></div>
        </div> -->

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                            Global Health
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  I am a highly motivated development professional with a strong interest in the intersection of global health, gender and climate change. I have international experience in Sexual Reproductive Health and Rights (SRHR) and Water, Sanitation and Hygiene (WASH) - including WASH in the context of Schools and Refugees. I also have accumulated practical expertise in the area of Menstrual Hygiene Management (MHM).
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            Project Management
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i> I am a multilingual project manager with over three years of experience in leading, implementing and managing projects. My experience spans across South Asia and Germany working for organisations such as the German Development Agency (GIZ) and Goethe-Institut. I am also experienced in organising and managing events, having supported the organisation of events under the diplomatic year of Germany in India in Chennai city and Nepal's first national conference on Adolescent Health and Development.
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">
                            Communications
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i> I am a creative, skilled social media expert with over two years of expertise in managing social media accounts and communications channels. During my various work engagements, I have engaged with various aspects of external communication such as dealing with the press and media, institutional partners and governmental organisations. I am also experienced working with CMS suites such as Joomla, Wordpress and Django.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- end service 2 -->

<div class="clear"></div>
</div>
<!-- End .profile -->
